/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
.gallery{
  width: 100%;
list-style: none;
display: grid;
   grid-template-columns: repeat(3, 1fr);
gap: 24px;
max-width: 1128px;
margin: 24px auto;
}
.gallery-item img{
    width: 360px;
    height: auto;
}